// html,body {
//   height:100%;
// }
//
// .fp, layout, layout > [ui-view] {
//   flex: 1;
//   display: flex;
//   flex-direction: column;
//   min-height:100%;
// }
//
// .fp-container {
//   min-height:100%;
//   display:flex;
//   flex-direction: column;
//   > section {
//     flex: 1;
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//   }
// }


#settingsDrop{
  float: right;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

uib-accordian{
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    color: #ADD8E6;

}

.sidenav a:hover, .offcanvas button:focus{
    color: #f1f1f1;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}


#main {
    transition: margin-right .5s;
    padding: 20px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#map{
  z-index: -1;
  transition: 0.5s;
}

#sidebarButton{
  float: right;
}

#username{
  text-align: center;
}

#sidebarButton{
  padding-right: 2%;
  padding-top: 2%;
}
