<div id="sidenavContainer">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" ng-click="vm.closeNav()">&times;</a>
    <navigation></navigation>
    <button class="btn btn-primary">thing1</button>
    <button class="btn btn-primary">thing2</button>
    <button class="btn btn-primary">cattinhat</button>
    <button class="btn btn-primary">beatuppeople4fun</button>
    <a><button class="btn btn-primary" ui-sref="home">Home</button></a>
  </div>
</div>


<!-- Use any element to open the sidenav -->
<div id="sidebarButton" ng-click="vm.openNav()"><img style="width: 75px;" src="client/assets/logo4.png"></div>
