@import 'variables/superhero.scss';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.cursor:hover {
  cursor: pointer;
}

.nav-link.active {
  text-decoration: underline;
}

#map{
  margin: 0,0,0,0;
  width:100vw;
  height:100vh;
  position: absolute;
}
#boundaryOverlay{
  position: relative;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.danger {
  color:red;
}
