<script type="text/ng-template" id="group-template.html">
  <div class="panel-heading">
    <h4 class="panel-title" style="color:#fa39c3">
      <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
        <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
          {{heading}}
        </span>
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" uib-collapse="!isOpen">
    <div class="panel-body" style="text-align: right" ng-transclude></div>
  </div>
</script>
<uib-accordion close-others="oneAtATime">
  <div uib-accordion-group class="panel-default" heading="{{group.title}}" ng-repeat="group in vm.groups">
    <div ng-repeat="tag in group.tags">
      <a ng-click="vm.submitData(tag)">{{tag}}</a>
    </div>
  </div>
</uib-accordion>
