
<ul class="nav nav-pills">
  <li><button class="btn btn-primary" ui-sref="home">Home</button></li>
  <li><button class="btn btn-success" ui-sref="auth" ng-if="vm.currentUser && !vm.isAuthenticated">Login/Register</button></li>
  <li><button class="btn btn-warning" ng-if="vm.currentUser && vm.isAuthenticated" ng-click="vm.logout()">Logout</button></li>
  <li><button class="btn btn-success" ui-sref="profile({username: vm.currentUser.username})" ng-if="vm.isAuthenticated">Profile</button></li>
  <li><button class="btn btn-danger" ui-sref="usersIndex" ng-if="vm.isAuthenticated && vm.isAuthorized('admin')">Users Index</button></li>
</ul>

<div id="settingsDrop" class="dropdown">
  <button class="btn btn-primary dropdown-toggle">Options</button>
  <div class="dropdown-menu">
    <button class="dropdown-item">option1</button>
    <button class="dropdown-item">option2</button>
    <button class="dropdown-item">option3</button>
  </div>
</div>
